html {
  font-size: 22px;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222222;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #ababab;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  letter-spacing: 1px;
}

p {
  margin-bottom: 0.7rem;
}

hr {
  border-top: 1px solid #682c9f;
  margin: 20px 0;
}

a {
  color: #f8f8ff;
  outline: none;
}

.info a {
  color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #fdb628;
  outline: 0 none;
  text-decoration: none;
}

.info {
  background: #682c9f;
  color: #f8f8ff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
}

.info:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: auto;
  border-bottom: 1.5lvh solid transparent;
  border-left: 100dvw solid #682c9f;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
  z-index: 0;
}

.info_content {
  background: #682c9f;
}

header {
  color: white;
  overflow: hidden;
}

body > section {
  padding: 40px 0;
  overflow: hidden;
}

img.avatar {
  border-radius: 100%;
  max-width: 100%;
}

.section_title {
  display: inline-block;
  margin: 0 0 40px 0;
  padding: 0 30px 5px 0;
}

ul.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(100px, 550px, 100%));
  grid-gap: 1dvw;
  justify-content: center;
}

ul.works li {
  list-style: none;
  margin-bottom: 40px;
}

ul.works li h3 {
  margin-top: 0;
}

.work_thumbnail {
  display: block;
  overflow: hidden;
  margin: 0 0 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #25252f;
}

.work_thumbnail > div {
  transition: 0.3s ease-in-out transform;
}

.work_thumbnail:hover > div {
  transform: scale(1.1);
}

.hide {
  display: none !important;
}

.tabs {
  display: none;
}

.works_tab {
  display: inline-block;
  padding: 0px 7px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.works_tab.active,
.works_tab:hover {
  color: #fdb628;
  border-bottom: 1px solid #fdb628;
}

@media (min-width: 1200px) {
  .works_tab {
    padding: 0px 0.5rem;
    margin: 0 0.3rem;
  }
}

@media (orientation: landscape) {
  .tabs {
    display: block;
    text-align: center;
    padding: 5px 0 20px;
    list-style: none;
  }

  .info:before {
    left: 100%;
    bottom: 0;
    top: 0;
    right: auto;
    border-right: 2dvw solid transparent;
    border-top: 100dvh solid #682c9f;
    border-bottom: 0 none;
    border-left: 0 none;
    filter: drop-shadow(3px 0 10px rgba(0, 0, 0, 0.3));
    z-index: 0;
  }
}
